/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Gruppo', sans-serif;
  background-color: #1a1a1a; /* Cinza escuro quase preto */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centraliza todo o conteúdo */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.logo {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
}

header {
  margin-bottom: 20px;
}

header .logo {
  width: 500px;
}

h1 {
  font-size: 3rem;
}

p {
  margin: 10px 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 4rem;
  max-height: 400px; /* Altura máxima da área de resultados */
  overflow-y: auto; /* Adiciona a barra de rolagem vertical */
  width: 80%; /* Define uma largura fixa para a área */
  padding-right: 10px; /* Adiciona espaço para a barra de rolagem */
}

.result-item {
  display: flex;
  flex-direction: column;
  background-color: #333;
  width: 100%; /* Garante que os itens ocupem toda a largura disponível */
  gap: 20px;
  padding: 2rem;
  border-radius: 1rem;
  box-sizing: border-box; /* Inclui o padding na largura total */
}

.search-results::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.search-results::-webkit-scrollbar-thumb {
  background-color: #555; /* Cor da barra de rolagem */
  border-radius: 10px;
}

h2 {
  font-size: 30px;
}

a {
  color: #dcdcdc;       /* Define a cor do texto */
  text-decoration: none; /* Remove o sublinhado */
}

footer {
  margin-top: 30px;
  font-size: 0.9rem;
}

